{% extends "userprofile/dashboard-base.html" %}

{% block dashboard-breadcrumb %}
<li>Dashboard</li>
{% endblock %}

{% block dashboard-content %}
<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">My Blast Queries</div>
    <!-- Table -->
    <table class="table">
    <thead>
    <tr>
        <th>Submission time</th>
        <th>Status</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Jan. 12, 2015, 3:59 p.m.</td>
        <td>Pending</td>
        <td><a href="#">link</a></td>
    </tr>
    <tr>
        <td>Jan. 12, 2015, 3:09 p.m.</td>
        <td>Success</td>
        <td><a href="#">link</a></td>
    </tr>
    <tr>
        <td>Jan. 4, 2015, 3:29 p.m.</td>
        <td>Expired</td>
        <td><a href="#">link</a></td>
    </tr>
    </tbody>
    </table>
</div>    
<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">Link to Web Apollo</div>
    <!-- List group -->
    {% for species in species_list%}
      <a href="{% url 'webapollo:species' species.name %}" class="list-group-item" target="_blank">{{ species.full_name }}</a>
    {% endfor %}
</div>
{% endblock%}
