{% extends "app/layout.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<h2>{{ title }}</h2>

<div>
<h4>Looks this is your first login! Please tell us your institution</h4>
<hr>
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-2 control-label">Institution</label>
      <div class="col-sm-10">
        {{ form.institution }}
        {{ form.institution.errors}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">{% trans 'Submit' %}</button>
      </div>
    </div>
</form>

</div>

{% endblock %}


{% block scripts %}

<script>document.getElementById('{{form.institution.id_for_label}}').focus();</script>

{% endblock %}

