{% extends "userprofile/dashboard-base.html" %}
{% load i18n %}

{% block dashboard-breadcrumb %}

<li><a href="{% url 'userprofile:dashboard' %}">Dashboard</a></li>
<li>Settings</li>
<li>Change Password</li>

{% endblock %}

{% block dashboard-content %}

<form action="" method="post">
{% csrf_token %}
<div>
  <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
  <div class="form-group">
    {{ form.old_password.label_tag }}
    {{ form.old_password }}
    {{ form.old_password.errors }}
  </div>
  <div class="form-group">
    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}
    {{ form.new_password1.errors }}
    {% if form.new_password1.help_text %}
        <p>{{ form.new_password1.help_text }}</p>
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}
    {{ form.new_password2.errors }}
    {% if form.new_password2.help_text %}
        <p>{{ form.new_password2.help_text }}</p>
    {% endif %}
  </div>
  <div class="form-group">
    <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-default" />
  </div>
  <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form>

{% endblock%}


