{% extends "userprofile/dashboard-base.html" %}

{% block dashboard-breadcrumb %}
<li><a href="{% url 'userprofile:dashboard' %}">Dashboard</a></li>
<li>Apps</li>
<li>{{ title }}</li>
{% endblock %}

{% block dashboard-content %}

<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">Organisms</div>
    <!-- List group -->
    {% if not species_list%}
        <p class="list-group-item">No Organism</p>
    {% else%}
        {% for species in species_list%}
            <a href="{% url 'webapollo:species' species.name %}" class="list-group-item" target="_blank">{{ species.full_name }}</a>
        {% endfor %}
    {% endif%}
</div>
<a target="_blank" href="https://i5k.nal.usda.gov/web-apollo-registration">Register</a> for access to the annotation system for the organism(s) you are interested in.

{% endblock%}
