{% extends "userprofile/dashboard-base.html" %}
{% load staticfiles %}

{% block head-scripts %}
<style>
    .species-table {
        width: 100%;
        margin-bottom:0.5em;
    }
    .species-table td {
        vertical-align: middle; 
        width:50%;
    }
    .dataTables_empty {
        display: none;
    }
</style>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css">
{% endblock %}

{% block dashboard-breadcrumb %}
<li><a href="{% url 'userprofile:dashboard' %}">Dashboard</a></li>
<li>Apps</li>
<li>{{ title }}</li>
{% endblock %}

{% block dashboard-content %}

<p style="font-size:large">Organisms</p>
{% if species_list %}
    {% for species in species_list%}
    <table class="species-table">
    <tr>
        <td>{{ species.full_name }}</td>
        <td>
            <a href="{% url 'webapollo:species' species.name %}" role="button" class="btn btn-primary" target="_blank">Access</a>
            {% if species.is_owner%}
                <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{species.name}}" aria-expanded="false" aria-controls="collapse-{{species.name}}">Manage</button>
            {% else %}
                <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{species.name}}" aria-expanded="false" aria-controls="collapse-{{species.name}}">Info</button>
            {% endif %}
            </ul>
        </td>
    </tr>
    </table>    
    <div class="collapse" id="collapse-{{species.name}}">
        <div class="well">
        {% if species.is_owner%}
            {% if species.apply_records %}
              <table class="table table-apply-records display compact">
              <caption>Pending Requests</caption>
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Institution</th>
                  <th>Submitted</th>
                  <th>Comments</th>                  
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for apply_record in species.apply_records %}
                <tr id="tr-{{apply_record.user.username}}-{{apply_record.species.name}}">
                  <td>{{apply_record.user.first_name}} {{apply_record.user.last_name}}</td>
                  <td>{{apply_record.user.profile.institution}}</td>
                  <td>{{apply_record.submission_time}}</td>
                  <td>{{apply_record.submission_comment}}</td>
                  <td>                    
                    <a href="#" class="link-approve">Approve</a>&nbsp;&nbsp;
                    <a href="#" data-toggle="modal" data-target="#rejectModal" data-whatever="{{apply_record.user.username}}-{{apply_record.species.name}}">Reject</a>&nbsp;&nbsp;
                    <a href="#" data-toggle="modal" data-target="#historyModal" data-whatever="{{apply_record.user.username}}-{{apply_record.species.name}}">History</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <hr>
            {% endif %}
            <table class="table table-owner-annotators display compact" id="annotators-{{species.name}}">
            <caption>Annotators</caption>
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Username</th>
                <th>Institution</th>
                <th><a href="#" data-toggle="modal" data-target="#addUserModal" data-whatever="{{species.name}}" >Add user</a></th>
              </tr>
            </thead>
            <tbody>
            {% for owner in species.owners %}
              <tr id="tr-{{owner.username}}-{{species.name}}">
                <td>
                  {{ owner.first_name }} {{ owner.last_name }} <span class="label label-default">Contact</span>
                </td>
                <td>{{ owner.username}}</td>
                <td>{{ owner.profile.institution}}</td>
                <td></td>
              </tr>
            {% endfor %}
            {% for user in species.users %}
              <tr id="tr-{{user.username}}-{{species.name}}">
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.profile.institution}}</td>
                <td><a href="#" class="link-remove">Remove</a></td>
              </tr>
            {% endfor %}
            </tbody>
            </table>
        {% else %}
          {% if species.owners or species.users %}
            <table class="table table-annotators display compact">
            <caption>Annotators</caption>
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Username</th>
                <th>Institution</th>
              </tr>
            </thead>
            <tbody>
            {% for owner in species.owners %}
              <tr>
                <td>
                    {{ owner.first_name }} {{ owner.last_name }} <span class="label label-default">Contact</span>
                </td>
                <td>{{ owner.username}}</td>
                <td>{{ owner.profile.institution}}</td>
              </tr>
            {% endfor %}
            {% for user in species.users %}
              <tr>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.profile.institution}}</td>
              </tr>
            {% endfor %}
            </tbody>
            </table>
          {% endif %}
        {% endif %}
        </div>
    </div>
    {% endfor %}
    <!-- rejectModal -->
    <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog"><div class="modal-content">
    <div class="modal-body">
        <p>Leave a message to the user you are goint to reject?</p>
        <p><textarea class="form-control" rows="3" maxlength="200" id="decision_comment"></textarea></p>
        <p style="text-align:right;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>&nbsp;
            <button type="button" class="btn btn-primary" id="btn-rejectModal">Reject</button>
            <input type="hidden" id="hidden-rejectModal" value="">
        </p>
    </div>
    </div></div></div>
    <!-- historyModal -->
    <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog"><div class="modal-content">
    <div class="modal-body">        
        <table class="table display compact table-apply-records" id="history-table">
            <thead>
              <tr>
                <th>Submission time</th>
                <th>Comment</th>
                <th>Status</th>
                <th>Msg from contacts</th>
              </tr>
            </thead>
            <tbody></tbody>
        </table>
        <p style="text-align:right; padding-top:1em;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>&nbsp;
        </p>
    </div>
    </div></div></div>
    <!-- addUserModal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog"><div class="modal-content">
    <div class="modal-body">
        <p>Select users to be annotators (multilple selection with Ctrl or Shift)</p>
        <table class="table display compact table-adduser" id="adduser-table">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Username</th>
                <th>Institution</th>
              </tr>
            </thead>
            <tbody></tbody>
        </table>
        <p style="text-align:right; padding-top:1em;">
            <span style="float:left;"><span id='adduser-count' style='font-size: large;'>0</span> users selected</span>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>&nbsp;
            <button type="button" class="btn btn-primary" id="btn-addUserModal" data-loading-text="Adding...">Add selected users</button>
            <input type="hidden" id="hidden-addUserModal" value="">
        </p>
    </div>
    </div></div></div>
{% else %}
    <p>No organisms.</p>
{% endif %}
<hr>
<!------------------------------------------------------ interested organisms ------------------------------------------------------>
<div id="interested-organism" {% if not interested_species_list %} style="display: none" {% endif %}>
<p style="font-size:large">Requesting Organisms</p>
{% if interested_species_list %}
    {% for species in interested_species_list%}
    <div>
    <table class="species-table">
    <tr>
        <td>{{ species.full_name }}</td>
        <td>
            {% if species.status == 'Pending' %}
            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{species.name}}" aria-expanded="false" aria-controls="collapse-{{species.name}}">Applied</button>
            {% elif species.status == 'Rejected' %}
            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{species.name}}" aria-expanded="false" aria-controls="collapse-{{species.name}}">Rejected</button>
            {% elif species.status == 'Removed' %}
            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{species.name}}" aria-expanded="false" aria-controls="collapse-{{species.name}}">Removed</button>
            {% endif %}
        </td>
    </tr>
    </table>
    <div class="collapse" id="collapse-{{species.name}}">
        <div class="well">
            {% if species.status == 'Pending' %}
                <p>You have applied for annotation. Please wait for the approval from the community contacts.
                <a href="#">Remind the contacts?</a></p>                    
            {% elif species.status == 'Rejected' %}
                <p>
                    You were rejected by the community contacts. 
                    <a href="#" class="link-reapply">Apply again?</a>
                    <input type="hidden" value="{{ species.name }}">                        
                </p>
                <div style="display: none">
                    <p>Complete the comment to the community contact and click 'Submit'.</p>
                    <p><textarea class="form-control" rows="3" maxlength="200" id="comment_{{species.name}}"></textarea></p>
                    <p><input class="btn btn-primary btn-new" type="button" value="Submit" id="btn_{{species.name}}"></p>
                </div>
            {% else %}
                <p>
                    You were removed from the annotators by the community contacts. 
                    <a href="#" class="link-reapply">Apply again?</a>
                    <input type="hidden" value="{{ species.name }}">                        
                </p>
                <div style="display: none">
                    <p>Complete the comment to the community contact and click 'Submit'.</p>
                    <p><textarea class="form-control" rows="3" maxlength="200" id="comment_{{species.name}}"></textarea></p>
                    <p><input class="btn btn-primary btn-new" type="button" value="Submit" id="btn_{{species.name}}"></p>
                </div>
            {% endif %}
            <table class="table table-apply-records display compact" {% if not species.apply_records %} style="display: none" {% endif %}>
              <thead>
                <tr>
                  <th>Submission time</th>
                  <th>Comment</th>
                  <th>Status</th>
                  <th>Msg from contacts</th>
                </tr>
              </thead>
              <tbody>
                {% for record in species.apply_records %}
                  <tr>
                    <td>{{ record.submission_time }}</td>
                    <td>{{ record.submission_comment }}</td>
                    <td>{{ record.status }}</td>
                    <td>{{ record.decision_comment }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    </div>
    {% endfor %}
{% endif %}
<hr>
</div>
<!------------------------------------------------------ other organisms ------------------------------------------------------>
<p id="more-organism">Interested in other organisms? <a href="#" id="more-organism-show">Apply for annotation.</a></p>
<div id="other-organism" style="display: none;">
<p style="font-size:large">More Organisms (<a href="#" id="more-organism-hide">Hide</a>)</p>
{% if unauth_species_list %}
    {% for species in unauth_species_list%}
    <div>
    <table class="species-table">
    <tr>
        <td>{{ species.full_name }}</td>
        <td>
            {% if species.status == 'New' %}
            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{species.name}}" aria-expanded="false" aria-controls="collapse-{{species.name}}">Apply</button>
            {% endif %}
        </td>
    </tr>
    </table>
    <div class="collapse" id="collapse-{{species.name}}">
        <div class="well">
            {% if species.status == 'New' %}
                <div>
                    <p>Complete the comment to the community contact and click 'Submit'.</p>
                    <p><textarea class="form-control" rows="3" maxlength="200" id="comment_{{species.name}}"></textarea></p>
                    <p><input class="btn btn-primary btn-new" type="button" value="Submit" id="btn_{{species.name}}"></p>
                </div>
            {% endif %}
        </div>
    </div>
    </div>
    {% endfor %}
{% else %}
    <p>No organisms.</p>
{% endif %}
</div>

{% endblock%}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js"></script>
<script src="{% static 'userprofile/scripts/webapollo.js' %}"></script>
{% endblock %}
