Django==1.8.12
Markdown==2.6.6
celery==3.1.13
cssmin==0.2.0
django-pipeline==1.6.8
django-simple-captcha==0.4.5
djangorestframework==3.3.3
django-rest-swagger==0.3.5
docutils==0.12
jsmin==2.0.11
pillow==2.2.2
psycopg2==2.6
pycrypto==2.6.1
python-memcached==1.57
python-social-auth==0.2.16
requests-oauthlib==0.6.1
wsgiref==0.1.2
