{% load i18n %}{% autoescape off %}
{% trans "Dear" %} {{ user.first_name }} {{ user.last_name }}

{% blocktrans %}You're receiving this email because you requested a password reset for your user account at the i5k Workspace@NAL.{% endblocktrans %}

{% trans "As a reminder, your username is" %} {{ user.get_username }}

{% trans "Please visit the link below to reset your password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
