{% extends "app/layout.html" %}
{% load staticfiles %}
{% load jsonify %}

{% block head-scripts %}
    {% if iframe == True %}
    <style>
    nav {
        display: none;
    }
    body {
        padding-top: 0px;
    }
    </style>
    {% endif %}
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'clustalw/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css">
    <style>
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
            box-shadow: inset 0 -2px 0 #317eac;
            color: #317eac;
            border: 0px;
        }
        #fieldset-basic {float:left;}
        #fieldset-dna-full {float:left;padding-left: 20px; display:none}
        #fieldset-protein-full {float:left;padding-left: 20px;}
        #fieldset-dna-multi {float:left;padding-left: 20px; display:none;}
        #fieldset-protein-multi {float:left;padding-left: 20px;}
        #fieldset-output {float:left;padding-left: 20px;}
        #fieldset-fast {float:left;padding-left: 20px; display:none;}
        #fieldset-omega {float:left; display:none;}
        #fieldset-omega-clustering {float:left;padding-left: 20px; display:none;}
        #fieldset-omega-iteration {float:left;padding-left: 20px; display:none;}
        #fieldset-omega-output {float:left;padding-left: 20px; display:none;}
        html {overflow-y: scroll;}
    </style>
{% endblock %}

{% block scripts %}
    <script src="{% static 'clustalw/scripts/underscore-min.js' %}"></script>
    <script src="{% static 'clustalw/scripts/jquery.hoverIntent.minified.js' %}"></script>
    <script src="{% static 'clustalw/scripts/jquery.validate.min.js' %}"></script>
    <script src="{% static 'clustalw/scripts/clustalw-multi.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js"></script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <ul id="myTab" class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#run" id="run-tab" role="tab" data-toggle="tab" aria-controls="run" aria-expanded="true">Run</a></li>
        <li role="presentation"><a href="#queries" role="tab" id="queries-tab" data-toggle="tab" aria-controls="queries" aria-expanded="false">Queries</a></li>
    </ul>
{% endif %}

{% if user.is_authenticated %}
    <div id="myTabContent" class="tab-content">    
    <div class="tripal_details tab-pane fade active in" role="tabpanel" id="run" aria-labelledby="run-tab">
{% else %}
    <div class="tripal_details">
{% endif %}
<FORM METHOD="POST" id="MainBlastForm" NAME="MainBlastForm" ENCTYPE="multipart/form-data">
<input type="hidden" name="program" id="program" value="clustalw">
{% csrf_token %}



<div class="tripal_organism-info-box tripal-info-box">
<!--<a href="docs/blast_databases.html">-->
<fieldset id="main">
    <legend><span id="title">CLUSTALW2</span> <span id="switch" style="cursor: pointer;">(To Clustal Omega)</span></legend>
    <fieldset id="fieldset-query">
        <legend id="legend-sequence">Query Sequence</legend>
        <div class="enter-query-text">Enter sequence below in <a target="_blank" href="http://en.wikipedia.org/wiki/FASTA_format">FASTA</a> format: </div>
        <textarea id="query-textarea" name="query-sequence" rows=12 cols=80% spellcheck="false" autocomplete="off"></textarea>
        <br>
        Or load it from disk
        <input type="file" name="query-file" class="query-file" id="queryfile">
    </fieldset>

<fieldset id="fieldset-basic">
	<legend>Basic</legend>
    <div style="font-size:16px;">Sequence Type</div>
    <div>
	<label>
		<input type="radio" name="sequenceType" value="dna" class="sequenceType dna">
		DNA
	</label><label>
		<input type="radio" name="sequenceType" value="protein" checked class="sequenceType protein">
		Protein
	</label>
    </div>
    <div style="font-size:16px;">Pairwise Alignment</div>
	<div style="padding-bottom: 10px">
    <label>
		<input type="radio" name="pairwise" value="full" checked class="pairwise full">
		Full
	</label><label>
		<input type="radio" name="pairwise" value="fast" class="pairwise fast">
		Fast
	</label>
    </div>

    <div  style="padding-bottom: 10px">
		<INPUT TYPE="reset" VALUE="Reset" id="btn_reset">
	</div>
    <div  style="padding-bottom: 10px">
        <INPUT TYPE="button" VALUE="Search" class="submitbutton">
    </div>
</fieldset>

<fieldset id="fieldset-dna-full">
	<legend>Full options</legend>
    <div style="font-size:16px;padding-bottom: 10px">
        <div style="font-size:16px;padding-bottom: 5px">DNA weight matrix</div>
        <div>
            <select name="PWDNAMATRIX">
                <option value="">Default</option>
                <option value="IUB">IUB</option>
                <option value="ClustalW">ClustalW</option>
            </select>
        </div>
    </div>
    <div style="padding-bottom: 5px">
	<label>
        Gap Open Penalty
		<input type="text" name="dna-PWGAPOPEN" checked="checked">
	</label>
    </div>
    <div style="padding-bottom: 5px">
    <label>
        Gap Extension Penalty
		<input type="text" name="dna-PWGAPEXT">
	</label>
    </div>
</fieldset>

<fieldset id="fieldset-protein-full">
	<legend>Full options</legend>
    <div style="font-size:16px;padding-bottom: 10px">
        <div style="font-size:16px;padding-bottom: 5px">Protein weight matrix</div>
        <div>
            <select name="PWMATRIX">
                <option value="">Default</option>
                <option value="Blosum">Blosum</option>
                <option value="PAM">PAM</option>
                <option value="GONNET">GONNET</option>
                <option value="ID">Identity</option>
            </select>
        </div>
    </div>
    <div style="padding-bottom: 5px">
	<label>
        Gap Open Penalty
		<input type="text" name="protein-PWGAPOPEN">
	</label>
    </div>
    <div style="padding-bottom: 5px">
    <label>
        Gap Extension Penalty
		<input type="text" name="protein-PWGAPEXT">
	</label>
    </div>
</fieldset>

<fieldset id="fieldset-fast">
	<legend>Fast options</legend>
    <div style="padding-bottom: 5px">
	<label>
        K-tuple (word) Size
		<input type="text" name="KTUPLE">
	</label>
    </div>
    <div style="padding-bottom: 5px">
    <label>
        Window Size
		<input type="text" name="WINDOW">
	</label>
    </div>
    <div style="padding-bottom: 5px">
    <label>
        Gap Penalty
		<input type="text" name="PAIRGAP">
	</label>
    </div>
    <div style="padding-bottom: 5px">
    <label>
        Number of Top Diagonals
		<input type="text" name="TOPDIAGS">
	</label>
    </div>
	<div style="font-size:16px;padding-bottom: 5px">Scoring Method</div>
	<div>
    <label>
		<input type="radio" name="SCORE" value="percent" checked class="sequenceType dna">
        Percent
	</label>
    </div>
    <div>
    <label>
		<input type="radio" name="SCORE" value="absolute" class="sequenceType protein">
        Absolute
	</label>
    </div>
</fieldset>

<fieldset id="fieldset-dna-multi">
	<legend>Multiple Alignment</legend>
    <div style="font-size:16px;padding-bottom: 5px">
        DNA weight matrix
    </div>

    <div style="font-size:16px;padding-bottom: 5px">
        <select name="DNAMATRIX">
            <option value="">Default</option>
            <option value="IUB">IUB</option>
            <option value="clustalw">ClustalW</option></select>
    </div>

	<div>
	<div>
    <label>
        Gap Opening Penalty
		<input type="text" name="dna-GAPOPEN">
	</label>
    </div>
    <div>
	<label>
        Gap Extension Penalty
		<input type="text" name="dna-GAPEXT">
	</label>
    </div>
    <div>
    <label>
        Gap Separation Penalty
		<input type="text" name="dna-GAPDIST">
	</label>
    </div>
        Output
        <select name="dna-ITERATION">
            <option value="none">None</option>
            <option value="tree">Tree</option>
            <option value="alignment">Alignment</option>
        </select>
    <div>
    <label>
        Maximum Number of Iterations
		<input type="text" name="dna-NUMITER">
	</label>
    </div>
	<div style="font-size:16px;padding-bottom: 5px">Clustering</div>
	<div>
    <label>
		<input type="radio" name="dna-CLUSTERING" value="NJ" checked class="sequenceType dna">
        Neighbour Joining
	</label>
    </div>
    <div>
    <label>
		<input type="radio" name="dna-CLUSTERING" value="UPGMA" class="sequenceType protein">
        UPGMA
	</label>
    </div>
</fieldset>

<fieldset id="fieldset-protein-multi">
	<legend>Multiple Alignment</legend>



    <div style="font-size:16px;padding-bottom: 5px">
        Protein weight matrix
    </div>

    <div style="font-size:16px;padding-bottom: 5px">
        <select name="MATRIX">
            <option value="">Default</option>
            <option value="Blosum">Blosum</option>
            <option value="PAM">PAM</option>
            <option value="GONNET">GONNET</option>
            <option value="ID">Identity</option>
        </select>
    </div>

	<div>
    <label>
        Gap Opening Penalty
		<input type="text" name="protein-GAPOPEN">
	</label>
    </div>
    <div>
	<label>
        Gap Extension Penalty
		<input type="text" name="protein-GAPEXT">
	</label>
    </div>
    <div>
    <label>
        Gap Separation Penalty
		<input type="text" name="protein-GAPDIST">
	</label>
    </div>
        Output
        <select name="protein-ITERATION">
            <option value="none">None</option>
            <option value="tree">Tree</option>
            <option value="alignment">Alignment</option>
        </select>
    <div>
    <label>
        Maximum Number of Iterations
		<input type="text" name="protein-NUMITER">
	</label>
    </div>
	<div style="font-size:16px;padding-bottom: 5px">Clustering</div>
	<div>
    <label>
		<input type="radio" name="protein-CLUSTERING" value="NJ" checked class="sequenceType dna">
        Neighbour Joining
	</label>
    </div>
    <div>
    <label>
		<input type="radio" name="protein-CLUSTERING" value="UPGMA" class="sequenceType protein">
        UPGMA
	</label>
    </div>
</fieldset>

<fieldset id="fieldset-output">
	<legend>Output</legend>
    <div style="font-size:16px;">Format</div>
    <select name="OUTPUT">
        <option value="clustal">Clustal</option>
        <option value="phylip">PHYLIP</option>
        <option value="fasta">FASTA</option>
    </select>
    <div style="font-size:16px;">Out Order</div>
    <select name="OUTORDER">
        <option value="Aligned">Aligned</option>
        <option value="input">Input</option>
    </select>
</fieldset>

<fieldset id="fieldset-omega">
    <legend>Sequence Input</legend>
    <div style="font-size:16px;">Dealign input sequences</div>
	<div style="padding-bottom: 10px">
    <label>
		<input type="radio" name="dealing_input" value="yes" class="">
		yes
	</label><label>
		<input type="radio" name="dealing_input" value="no" checked class="">
		no
	</label>
    </div>
    <div  style="padding-bottom: 10px">
		<INPUT TYPE="reset" VALUE="Reset" id="btn_reset">
	</div>
    <div  style="padding-bottom: 10px">
        <INPUT TYPE="button" VALUE="Search" class="submitbutton">
    </div>
</fieldset>
<fieldset id="fieldset-omega-clustering">
    <legend>Clustering and Iteration</legend>
    <div style="font-size:16px;">MBED-Like Clustering Guide-Tree</div>
	<div style="padding-bottom: 10px">
    <label>
		<input type="radio" name="clustering_guide_tree" value="yes" checked class="">
		yes
	</label><label>
		<input type="radio" name="clustering_guide_tree" value="no" class="">
		no
	</label>
    </div>
    <div style="font-size:16px;">MBED-Like Clustering Iteration</div>
	<div style="padding-bottom: 10px">
    <label>
		<input type="radio" name="clustering_guide_iter" value="yes" checked class="">
		yes
	</label><label>
		<input type="radio" name="clustering_guide_iter" value="no" class="">
		no
	</label>
    </div>
</fieldset>
<fieldset id="fieldset-omega-iteration">
    <legend>Iteration</legend>
    <div style="font-size:16px;padding-bottom: 10px">
        <div style="font-size:16px;padding-bottom: 5px">NUMBER of COMBINED ITERATIONS</div>
        <div>
            <select name="combined_iter">
                <option value="0">Default</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <div style="font-size:16px;padding-bottom: 10px">
        <div style="font-size:16px;padding-bottom: 5px">MAX GUIDE TREE ITERATIONS</div>
        <div>
            <select name="max_gt_iter">
                <option value="">Default</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <div style="font-size:16px;padding-bottom: 10px">
        <div style="font-size:16px;padding-bottom: 5px">MAX HMM ITERATIONS</div>
        <div>
            <select name="max_hmm_iter">
                <option value="">Default</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
</fieldset>
<fieldset id="fieldset-omega-output">
	<legend>Output</legend>
    <div style="font-size:16px;">Format</div>
    <select name="omega_output">
        <option value="clu">Clustal</option>
        <option value="phy">PHYLIP</option>
        <option value="fa">FASTA</option>
        <option value="st">STOCKHOLM</option>
    </select>
    <div style="font-size:16px;">Out Order</div>
    <select name="omega_order">
        <option value="tree-order">Aligned</option>
        <option value="input-order">Input</option>
    </select>
</fieldset>
</fieldset>
</div>
</FORM>
</div>

{% if user.is_authenticated %}
    <div role="tabpanel" class="tab-pane fade" id="queries" aria-labelledby="queries-tab">
    <!-- Table -->
    <table id="queries-{{user.id}}" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Submission time</th>
        <th>Status</th>
        <th>Link</th>
    </tr>
    </thead>
    </table>
    </div>
  </div> <!-- myTabContent -->

{% endif %}

{% endblock %}
