/* Set padding to keep content from hitting the edges */
body {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100vh;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
nav.navbar {
    margin-bottom: 0;
}

.navbar>.container .navbar-brand {
    padding: 0;
    margin-left: 0;
}

.navbar-nav li a {
    font-size: 18px;
    padding-bottom: 0;
    padding-top: 17px;
}