{% extends "app/layout.html" %}
{% load staticfiles %}
{% load jsonify %}

{% block head-scripts %}
    {% if iframe == True %}
    <style>
    nav {
        display: none;
    }
    body {
        padding-top: 0px;
    }
    </style>
    {% endif %}
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'blast/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css">
    <style type="text/css">
      .Table
      {
      display: table;
      }
      .Title
      {
      display: table-caption;
      text-align: center;
      font-weight: bold;
      font-size: larger;
      }
      .Heading
      {
      display: table-row;
      font-weight: bold;
      text-align: center;
      }
      .Row
      {
      display: table-row;
      }
      .Cell
      {
      display: table-cell;
      border: solid;
      border-width: thin;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      }
    </style>

    <style>
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
            box-shadow: inset 0 -2px 0 #317eac;
            color: #317eac;
            border: 0px;
        }
    </style>
    <script>
      var result_set = {{result_set|jsonify}};
      var username = {{ username|jsonify}};
      var password =  {{password|jsonify}};
      var organism_id =  {{ organism_id|jsonify}};
      var organism_name = {{ organism_name|jsonify}};
      var organism_display_name = {{ organism_display_name|jsonify}};
      var jbrowse_url = {{ jbrowse_url|jsonify}};
    </script>
{% endblock %}

{% block scripts %}
    <script src="{% static 'blast/scripts/underscore-min.js' %}"></script>
    <script src="{% static 'blast/scripts/jquery.hoverIntent.minified.js' %}"></script>
    <script src="{% static 'blast/scripts/jquery.validate.min.js' %}"></script>
    <script src="{% static 'blast/scripts/blast-multi.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js"></script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div id="myTabContent" class="tab-content">    
    <div class="tripal_details tab-pane fade active in" role="tabpanel" id="run" aria-labelledby="run-tab">
{% else %}
    <div class="tripal_details">
{% endif %}

<div class="tripal_organism-info-box tripal-info-box">
<!--<a href="docs/blast_databases.html">-->
<fieldset id="fieldset-datasets">
    <ul class="nav nav-tabs">
      <li> <h4>Add Account</h4></li>
      <li style="float: right;border:0px;"><a href='https://i5k.nal.usda.gov/using-account-migration-tool' target="_blank"><span class="glyphicon glyphicon-book"></span> Tutorial</a>
      </li>
    </ul>
    <div id="description">
      <span>
	<br>
	  To prepare for the new Apollo update, you will need to bind your existing Apollo login with your new Workspace user account.
	<br>
	  Click the <input type="submit" value="Add Account"  class="btn btn-sm btn-warning" /> button to connect an Apollo account to your Workspace account.
	<br>
	  See the <a href='https://i5k.nal.usda.gov/using-account-migration-tool' style="text-decoration: underline;" target="_blank">user manual</a> for more information.
	<br><br>
	  <b>Using this form to claim your Apollo account does not affect how you access Apollo.</b>
      </span>
    </div>

  <div id="box-datasets">
    <div class="datasets-div all">
      <div class="dataset-title"></div>
      <div class"Table"><div class="Title">
	</div>
	<div class="Heading">
	  <div class="Cell">
	    <p>Short Name</p>
	  </div>
	  <div class="Cell">
	    <p>Species Name</p>
	  </div>
	  <div class="Cell">
	    <p>JBrowse URL</p>
	  </div>
	  <div class="Cell">
	    <p>Status</p>
	  </div>
	</div>
    	{% for r in result_set  %}
	<div class="Row">
	  <div class="Cell">
	    <p>{{r.2}}</p>
	  </div>
	  <div class="Cell">
	    <p>{{r.1}}</p>
	  </div>
	  <div class="Cell">
	    <a href = {{ r.3 }}>{{ r.3 }}</a>
	  </div>
	  <div class="Cell"><center>
	      <FORM METHOD="POST" id="MainMigrationForm" NAME="MainMigrationForm" ENCTYPE="multipart/form-data" action="add">
		{% csrf_token %}
		<input type="hidden" name="organism_id" value="{{ r.0 }}">
		<input type="hidden" name="organism_short_name" value="{{ r.2 }}">
		<input type="hidden" name="organism_display_name" value="{{ r.1 }}">
		<input type="hidden" name="jbrowse_url" value="{{ r.3 }}">
		{% if user.is_authenticated %}
		{% if r.5 == None %}
		{% else %}
		<input type="hidden" name="username" value="">
		<input type="hidden" name="password" value="">
		{% endif %}
		{% endif %}		
		{% if user.is_authenticated %}
		{% if r.4 = True  %}
		<!--<a href="" role="button" class="btn btn-success">Confirmed</a>-->
		<input type="button" value="Confirmed"  class="btn btn-success" />
		{% else %}
		<input type="submit" value="Add Account"  class="btn btn-warning" />
		{% endif %}
		{% else %}
		<a href="/login" role="button" class="btn btn-danger">Not Logged In</a>
		{% endif %}
	      </FORM></center>
	  </div>
	</div>
	{% endfor %}
        </center>
      </div>
    </div>			  
  </div>
{% endblock %}

