.box-controls {
    margin-bottom: 20px;
}

.box-controls a {
    margin-top: 10px;
}

body .redactor_toolbar li a.redactor_btn_browser {
    background: url("../img/explorer.png") no-repeat;
}

#result_list td, #result_list th {
    text-align: center;
    vertical-align: middle;
}

#result_list td.filename, #result_list th.filename {
    text-align: initial;
    vertical-align: middle;
}

#toolbar form {
    margin: 10px 15px;
}