{% extends "app/layout.html" %}
{% load staticfiles %}
{% load pipeline %}
{% load jsonify %}

{% block head-scripts %}
{% if iframe == True %}
<style>
nav {
    display: none;
}
body {
    padding-top: 0px;
}
</style>
{% endif %}
{% stylesheet 'clustal-css' %}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css">
<style>
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    box-shadow: inset 0 -2px 0 #317eac;
    color: #317eac;
    border: 0px;
}
.d_col {padding-bottom: 10px}
.p_col {padding-bottom: 5px}
.t_font {font-size:16px}
//input[type="text"]{size:10}
#fieldset-basic {float:left;}
#fieldset-dna-full {float:left;padding-left: 20px; display:none}
#fieldset-protein-full {float:left;padding-left: 20px;}
#fieldset-dna-multi {float:left;padding-left: 20px; display:none;}
#fieldset-protein-multi {float:left;padding-left: 20px;}
#fieldset-output {float:left;padding-left: 20px;}
#fieldset-fast {float:left;padding-left: 20px; display:none;}
#fieldset-omega {float:left;}
#fieldset-omega-clustering {float:left;padding-left: 20px;}
#fieldset-omega-iteration {float:left;padding-left: 20px;}
#fieldset-omega-output {float:left;padding-left: 20px;}
html {overflow-y: scroll;}
</style>
{% endblock %}

{% block scripts %}
<script src="{% static 'blast/scripts/underscore-min.js' %}"></script>
<script src="{% static 'blast/scripts/jquery.hoverIntent.minified.js' %}"></script>
<script src="{% static 'blast/scripts/jquery.validate.min.js' %}"></script>
<script src="{% static 'blast/scripts/clustal-multi.js' %}"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js"></script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<ul id="myTab" class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#run" id="run-tab" role="tab" data-toggle="tab" aria-controls="run" aria-expanded="true">Run</a></li>
    <li role="presentation"><a href="#queries" role="tab" id="queries-tab" data-toggle="tab" aria-controls="queries" aria-expanded="false">Queries</a></li>
</ul>
{% endif %}

{% if user.is_authenticated %}
<div id="myTabContent" class="tab-content">    
    <div class="tripal_details tab-pane fade active in" role="tabpanel" id="run" aria-labelledby="run-tab">
        {% else %}
        <div class="tripal_details">
            {% endif %}
            <FORM METHOD="POST" id="MainClustalForm" NAME="MainClustalForm" ENCTYPE="multipart/form-data">
                <input type="hidden" name="program" id="program" value="clustalo">
                {% csrf_token %}
                <div class="tripal_organism-info-box tripal-info-box">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#clustalo">CLUSTALO</a></li>
                        <li><a data-toggle="tab" href="#clustalw">CLUSTALW</a></li>
                        <li style="float: right;border:0px;"><a href='{% url 'clustal:manual' %}' target="_blank"><span class="glyphicon glyphicon-book"></span> Tutorial</a></li>
                    </ul>
                    <fieldset id="fieldset-query">
                        <legend id="legend-sequence">Query Sequence</legend>
                        <div class="enter-query-text">Enter sequence below in <a target="_blank" href="http://en.wikipedia.org/wiki/FASTA_format">FASTA</a> format: </div>
                        <textarea id="query-textarea" name="query-sequence" rows=12 cols=80% spellcheck="false" autocomplete="off"></textarea>
                        <br>
                        Or load it from disk
                        <input type="file" name="query-file" class="query-file" id="queryfile">
                    </fieldset>
                    <div class="tab-content">
                        <div id="clustalo" class="tab-pane fade in active">
                            <fieldset id="fieldset-omega" class="t_font">
                                <legend>Sequence Input</legend>
                                <div>Dealign input sequences</div>
                                <div>
                                    <label>
                                        <input type="radio" name="dealing_input" value="yes">
                                        yes
                                    </label><label>
                                        <input type="radio" name="dealing_input" value="no" checked>
                                        no
                                    </label>
                                </div>
                                <div class='d_col'>
                                    <INPUT TYPE="reset" VALUE="Reset" class="btn_reset">
                                </div>
                                <div class='d_col'>
                                    <INPUT TYPE="button" VALUE="Search" id="clustalo_submit">
                                </div>
                            </fieldset>
                            <fieldset id="fieldset-omega-clustering" class="t_font">
                                <legend>Clustering and Iteration</legend>
                                <div>MBED-Like Clustering Guide-Tree</div>
                                <div>
                                    <label>
                                        <input type="radio" name="clustering_guide_tree" value="yes" checked>
                                        yes
                                    </label><label>
                                        <input type="radio" name="clustering_guide_tree" value="no">
                                        no
                                    </label>
                                </div>
                                <div>MBED-Like Clustering Iteration</div>
                                <div>
                                    <label>
                                        <input type="radio" name="clustering_guide_iter" value="yes" checked>
                                        yes
                                    </label><label>
                                        <input type="radio" name="clustering_guide_iter" value="no">
                                        no
                                    </label>
                                </div>
                            </fieldset>
                            <fieldset id="fieldset-omega-iteration" class="t_font">
                                <legend>Iteration</legend>
                                <div class="d_col">
                                    <div class="p_col">NUMBER of COMBINED ITERATIONS</div>
                                    <div>
                                        <select name="combined_iter">
                                            <option value="0">Default</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d_col">
                                    <div class="p_col">MAX GUIDE TREE ITERATIONS</div>
                                    <div>
                                        <select name="max_gt_iter">
                                            <option value="">Default</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div class="p_col">MAX HMM ITERATIONS</div>
                                    <div>
                                        <select name="max_hmm_iter">
                                            <option value="">Default</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="fieldset-omega-output" class="t_font">
                                <legend>Output</legend>
                                <div>Format</div>
                                <select name="omega_output">
                                    <option value="clu">Clustal</option>
                                    <option value="phy">PHYLIP</option>
                                    <option value="fa">FASTA</option>
                                    <option value="st">STOCKHOLM</option>
                                </select>
                                <div style="padding-top: 10px">Out Order</div>
                                <select name="omega_order">
                                    <option value="tree-order">Aligned</option>
                                    <option value="input-order">Input</option>
                                </select>
                            </fieldset>


                        </div>
                        <div id="clustalw" class="tab-pane fade">
                            <fieldset id="fieldset-basic" class="t_font">
                                <legend>Basic</legend>
                                <div>Sequence Type</div>
                                <div>
                                    <label>
                                        <input type="radio" name="sequenceType" value="dna" class="sequenceType dna">
                                        DNA
                                    </label><label>
                                        <input type="radio" name="sequenceType" value="protein" checked class="sequenceType protein">
                                        Protein
                                    </label>
                                </div>
                                <div>Pairwise Alignment</div>
                                <div class="d_col">
                                    <label>
                                        <input type="radio" name="pairwise" value="full" checked class="pairwise full">
                                        Full
                                    </label><label>
                                        <input type="radio" name="pairwise" value="fast" class="pairwise fast">
                                        Fast
                                    </label>
                                </div>

                                <div class="d_col">
                                    <INPUT TYPE="reset" VALUE="Reset" class="btn_reset">
                                </div>
                                <div class="d_col">
                                    <INPUT TYPE="button" VALUE="Search" id="clustalw_submit">
                                </div>
                            </fieldset>

                            <fieldset id="fieldset-dna-full" class="t_font">
                                <legend>Full options</legend>
                                <div class="d_col">
                                    <div class="p_col">DNA weight matrix</div>
                                    <div>
                                        <select name="PWDNAMATRIX">
                                            <option value="">Default</option>
                                            <option value="IUB">IUB</option>
                                            <option value="ClustalW">ClustalW</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="p_col">
                                    <label>
                                        Gap Open Penalty
                                        <input type="text" name="dna-PWGAPOPEN" checked="checked" size=10>
                                    </label>
                                </div>
                                <div class="p_col">
                                    <label>
                                        Gap Extension Penalty
                                        <input type="text" name="dna-PWGAPEXT" size=10>
                                    </label>
                                </div>
                            </fieldset>

                            <fieldset id="fieldset-protein-full" class="t_font">
                                <legend>Full options</legend>
                                <div class="p_col">
                                    <div style="padding-bottom: 5px">Protein weight matrix</div>
                                    <div>
                                        <select name="PWMATRIX">
                                            <option value="">Default</option>
                                            <option value="Blosum">Blosum</option>
                                            <option value="PAM">PAM</option>
                                            <option value="GONNET">GONNET</option>
                                            <option value="ID">Identity</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="p_col">
                                    <label>
                                        Gap Open Penalty
                                        <input type="text" name="protein-PWGAPOPEN" size=10>
                                    </label>
                                </div>
                                <div class="p_col">
                                    <label>
                                        Gap Extension Penalty
                                        <input type="text" name="protein-PWGAPEXT" size=10>
                                    </label>
                                </div>
                            </fieldset>

                            <fieldset id="fieldset-fast" class="t_font">
                                <legend>Fast options</legend>
                                <div class="p_col">
                                    <label>
                                        K-tuple (word) Size
                                        <input type="text" name="KTUPLE" size=10>
                                    </label>
                                </div>
                                <div class="p_col">
                                    <label>
                                        Window Size
                                        <input type="text" name="WINDOW" size=10>
                                    </label>
                                </div>
                                <div class="p_col">
                                    <label>
                                        Gap Penalty
                                        <input type="text" name="PAIRGAP" size=10>
                                    </label>
                                </div>
                                <div class="p_col">
                                    <label>
                                        Number of Top Diagonals
                                        <input type="text" name="TOPDIAGS" size=10>
                                    </label>
                                </div>
                                <div class="p_col">Scoring Method</div>
                                <div>
                                    <label>
                                        <input type="radio" name="SCORE" value="percent" checked>
                                        Percent
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="radio" name="SCORE" value="absolute">
                                        Absolute
                                    </label>
                                </div>
                            </fieldset>

                            <fieldset id="fieldset-dna-multi" class="t_font">
                                <legend>Multiple Alignment</legend>
                                <div class="p_col">
                                    DNA weight matrix
                                </div>

                                <div class="p_col">
                                    <select name="DNAMATRIX">
                                        <option value="">Default</option>
                                        <option value="IUB">IUB</option>
                                        <option value="clustalw">ClustalW</option></select>
                                </div>

                                <div>
                                    <div>
                                        <label>
                                            Gap Opening Penalty
                                            <input type="text" name="dna-GAPOPEN" size=10>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            Gap Extension Penalty
                                            <input type="text" name="dna-GAPEXT" size=10>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            Gap Separation Penalty
                                            <input type="text" name="dna-GAPDIST" size=10>
                                        </label>
                                    </div>
                                    Output
                                    <select name="dna-ITERATION">
                                        <option value="none">None</option>
                                        <option value="tree">Tree</option>
                                        <option value="alignment">Alignment</option>
                                    </select>
                                    <div>
                                        <label>
                                            Maximum Number of Iterations
                                            <input type="text" name="dna-NUMITER" size=10>
                                        </label>
                                    </div>
                                    <div class="p_col">Clustering</div>
                                    <div>
                                        <label>
                                            <input type="radio" name="dna-CLUSTERING" value="NJ" checked>
                                            Neighbour Joining
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="radio" name="dna-CLUSTERING" value="UPGMA">
                                            UPGMA
                                        </label>
                                    </div>
                                </fieldset>

                                <fieldset id="fieldset-protein-multi" class="t_font">
                                    <legend>Multiple Alignment</legend>
                                    <div class="p_col">
                                        Protein weight matrix
                                    </div>

                                    <div class="p_col">
                                        <select name="MATRIX">
                                            <option value="">Default</option>
                                            <option value="Blosum">Blosum</option>
                                            <option value="PAM">PAM</option>
                                            <option value="GONNET">GONNET</option>
                                            <option value="ID">Identity</option>
                                        </select>
                                    </div>

                                    <div>
                                        <label>
                                            Gap Opening Penalty
                                            <input type="text" name="protein-GAPOPEN" size=10>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            Gap Extension Penalty
                                            <input type="text" name="protein-GAPEXT" size=10>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            Gap Separation Penalty
                                            <input type="text" name="protein-GAPDIST" size=10>
                                        </label>
                                    </div>
                                    Output
                                    <select name="protein-ITERATION">
                                        <option value="none">None</option>
                                        <option value="tree">Tree</option>
                                        <option value="alignment">Alignment</option>
                                    </select>
                                    <div>
                                        <label>
                                            Maximum Number of Iterations
                                            <input type="text" name="protein-NUMITER" size=10>
                                        </label>
                                    </div>
                                    <div class="p_col">Clustering</div>
                                    <div>
                                        <label>
                                            <input type="radio" name="protein-CLUSTERING" value="NJ" checked>
                                            Neighbour Joining
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="radio" name="protein-CLUSTERING" value="UPGMA">
                                            UPGMA
                                        </label>
                                    </div>
                                </fieldset>

                                <fieldset id="fieldset-output" class="t_font">
                                    <legend>Output</legend>
                                    <div>Format</div>
                                    <select name="OUTPUT" style="width: 100px">
                                        <option value="clustal">Clustal&nbsp;&nbsp; </option>
                                        <option value="phylip">PHYLIP</option>
                                        <option value="fasta">FASTA</option>
                                    </select>
                                    <div>Out Order</div>
                                    <select name="OUTORDER">
                                        <option value="Aligned">Aligned</option>
                                        <option value="input">Input</option>
                                    </select>
                                </fieldset>
                            </div>

                        </div>
                    </div>
                </FORM>
            </div>

            {% if user.is_authenticated %}
            <div role="tabpanel" class="tab-pane fade" id="queries" aria-labelledby="queries-tab">
                <!-- Table -->
                <table id="queries-{{user.id}}" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Submission time</th>
                            <th>Status</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div> <!-- myTabContent -->

        {% endif %}

        {% endblock %}
