{% extends "app/layout.html" %}

{% load staticfiles %}

{% block head-scripts %}
{% endblock %}
{% block content %}

<h1><center><b> CLUSTAL Tutorial </b></center></h1>
<h2>Clustal Omega / ClustalW : Multiple alignment of nucleic acid and protein sequences</h2>
<p><a href="http://www.clustal.org/">http://www.clustal.org/</a><p>

<p>ClustalW is the oldest of the currently most widely used programs for multiple sequence alignment. Clustal Omega is the latest version of CLUSTAL series.  ClustalO is faster and more accurate because of new HMM alignment engine.<p>
<br>
<p>In this tutorial, we explain some of the features of the CLUSTAL web application.<p>
<p>To begin, navigate to the HMMER web application via the 'Web Apps->CLUSTAL' menu bar, or go directly to <a href="http://i5k.nal.usda.gov/clustal/">http://i5k.nal.usda.gov/clustal/.</a><p>
<p>We offer both ClustalW and Clustal Omega. Both programs perform multiple sequence alignments. Because the two programs have completely different parameter setting, please refer to the program manuals for details.<p>
<p>ClustalW Manual:  <a href="http://www.clustal.org/download/clustalw_help.txt">http://www.clustal.org/download/clustalw_help.txt</a><p>
<img src={% static 'clustal/images/clustal_p1.jpg' %} style="border:1px groove;width:800px;height:600px">
<p><br>
<p><br>

<p>Clustal Omega Manual:  <a href="http://www.clustal.org/omega/README">http://www.clustal.org/omega/README</a><p>
<img src={% static 'clustal/images/clustal_p2.jpg' %} style="border:1px groove;width:800px;height:600px">
<p><br>
<p><br>

<p>Paste your query sequence into the 'Query Sequence' field, or load it from disk. <p>
<p>The CLUSTAL program only accepts the fasta format as query input. Once the correct CLUSTAL program is selected, you can customize the parameters for your search. Hit the 'Search' button when finished.<p>
<img src={% static 'clustal/images/clustal_p3.jpg' %} style="border:1px groove;width:800px;height:600px">
<p><br>
<p><br>

<p>A page will display indicating that your query is running. You can store the indicated query link if you wish to come back to your CLUSTAL results at a later time. Results are stored for one week.<p>
<img src={% static 'clustal/images/clustal_p4.jpg' %} style="border:1px groove;">
<p><br>
<p><br>

<p>When the CLUSTAL program has finished, your results will be displayed.<p>
<p>In 'Download', you can download the alignment file (showed in 'Report Details', phylogenetic tree (if available) and submission details including parameters used in this job. <p>
<p>In 'Report Details', the 'Colorful' button makes alignment for easier visualization. The 'To Hmmsearch' button redirects users to hmmsearch using CLUSTAL result as input for hmmsearch.<p>
<img src={% static 'clustal/images/clustal_p5.jpg' %} style="border:1px groove;width:600px;height:600px">
<p><br>
<p><br>

<p>If you have a user account for the I5K workspace, you can review your jobs by clicking 'Queries' tab.<p>
<img src={% static 'clustal/images/clustal_p6.jpg' %} style="border:1px groove;width:800px;height:400px">
<p><br>

{% endblock %}
