{% extends "app/layout.html" %}

{% load staticfiles %}

{% block head-scripts %}
{% endblock %}
{% block content %}

<h2>Clustal Omega / ClustalW : Multiple alignment of nucleic acid and protein sequences</h2>
<p>Reference: <a href="http://www.clustal.org/">http://www.clustal.org/</a><p>

<h3>Introduction</h3>
<p>ClustalW is the oldest of the currently most widely used programs for multiple sequence alignment. Clustal Omega is the latest version of CLUSTAL series.  ClustalO is faster and more accuracy because of new HMM alignment engine.<p>
<br>
<h3>i5K-Clustal Tutorial</h3>
<p>In this tutorial, we explain some of the features of the CLUSTAL site.<p>
<p>To begin, navigate to the HMMER site via the 'Web Apps->CLUSTAL' menu bar, or go directly to <a href="http://i5k.nal.usda.gov/clustal/">http://i5k.nal.usda.gov/clustal/.</a><p>
<p>We implemented ClustalW and Clustal Omega in website; they both do multiple sequence alignment just in different ways, users can choose either one based on preference. But two programs have totally different parameters setting, please reference manuals for details.<p>
<p>ClustalW Manual:  <a href="http://www.clustal.org/download/clustalw_help.txt">http://www.clustal.org/download/clustalw_help.txt</a><p>
<img src={% static 'clustal/images/clustal_p1.jpg' %} style="border:1px groove;width:800px;height:600px">
<p><br>
<p><br>

<p>Clustal Omega Manual:  <a href="http://www.clustal.org/omega/README">http://www.clustal.org/omega/README</a><p>
<img src={% static 'clustal/images/clustal_p2.jpg' %} style="border:1px groove;width:800px;height:600px">
<p><br>
<p><br>

<p>Paste your query sequence into the 'Query Sequence' field, or load it from disk. <p>
<p>CLUSTAL program only accepts fasta file as query input. Once the correct CLUSTAL program is selected, choosing parameters which are suitable for individual condition. Hit the 'Search' button when finished.<p>
<img src={% static 'clustal/images/clustal_p3.jpg' %} style="border:1px groove;width:800px;height:600px">
<p><br>
<p><br>

<p>A page will display indicating that your query is running. You can store the indicated query link if you wish to come back to your CLUSTAL results at a later time. Results are stored for one week.<p>
<img src={% static 'clustal/images/clustal_p4.jpg' %} style="border:1px groove;">
<p><br>
<p><br>

<p>When the CLUSTAL program has finished, your results will be displayed.<p>
<p>In 'Download', you could download alignment file (showed in 'Details Report', phylogenetic tree (if available) and submission details including parameters used in this job. <p>
<p>In 'Details Reports', 'Colorful' button makes alignment colorful for visualization and and 'To Hmmsearch' button redirects users to hmmsearch using the result as input of hmmsearch.<p>
<img src={% static 'clustal/images/clustal_p5.jpg' %} style="border:1px groove;width:600px;height:600px">
<p><br>
<p><br>

<p>If having user account of I5K workspace, you can review your jobs by clicking 'Queries' tab.<p>
<img src={% static 'clustal/images/clustal_p6.jpg' %} style="border:1px groove;width:800px;height:400px">
<p><br>

{% endblock %}
