{% extends "app/layout.html" %}

{% load staticfiles %}

{% block head-scripts %}
<style>
    .species-table {
        width: 100%;
        margin-bottom:0.5em;
    }
    .species-table td {
        vertical-align: middle; 
        width:50%;
    }
    .dataTables_empty {
        display: none;
    }
</style>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css">
{% endblock %}

{% block content %}
<!------------------------------------------------------ interested organisms ------------------------------------------------------>
<div id="interested-organism" {% if not interested_species_list %} style="display: none" {% endif %}>
<h2>Requesting Organisms</h2>
{% if interested_species_list %}
    {% for species in interested_species_list%}
    <div>
    <table class="species-table">
    <tr>
        <td>{{ species.full_name }}</td>
        <td>
            {% if species.status == 'Pending' %}
            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{species.name}}" aria-expanded="false" aria-controls="collapse-{{species.name}}">Applied</button>
            {% elif species.status == 'Rejected' %}
            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{species.name}}" aria-expanded="false" aria-controls="collapse-{{species.name}}">Rejected</button>
            {% elif species.status == 'Removed' %}
            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{species.name}}" aria-expanded="false" aria-controls="collapse-{{species.name}}">Removed</button>
            {% endif %}
        </td>
    </tr>
    </table>
    <div class="collapse" id="collapse-{{species.name}}">
        <div class="well">
            {% if species.status == 'Pending' %}
                <p>You have applied for annotation. Please wait for the approval from the community contacts.
                <span><a href="#" class="link-remind">Remind the contacts?</a></span></p> 
            {% elif species.status == 'Rejected' %}
                <p>
                    You were rejected by the community contacts. 
                    <a href="#" class="link-reapply">Apply again?</a>
                    <input type="hidden" value="{{ species.name }}">                        
                </p>
                <div style="display: none">
                    <p>Complete the comment to the community contact and click 'Submit'.</p>
                    <p><textarea class="form-control" rows="3" maxlength="200" id="comment_{{species.name}}"></textarea></p>
                    <p><input class="btn btn-primary btn-new" type="button" value="Submit" id="btn_{{species.name}}"></p>
                </div>
            {% else %}
                <p>
                    You were removed from the annotators by the community contacts. 
                    <a href="#" class="link-reapply">Apply again?</a>
                    <input type="hidden" value="{{ species.name }}">                        
                </p>
                <div style="display: none">
                    <p>Complete the comment to the community contact and click 'Submit'.</p>
                    <p><textarea class="form-control" rows="3" maxlength="200" id="comment_{{species.name}}"></textarea></p>
                    <p><input class="btn btn-primary btn-new" type="button" value="Submit" id="btn_{{species.name}}"></p>
                </div>
            {% endif %}
            <table class="table table-apply-records display compact" {% if not species.apply_records %} style="display: none" {% endif %}>
              <thead>
                <tr>
                  <th>Submission time</th>
                  <th>Comment</th>
                  <th>Status</th>
                  <th>Msg from contacts</th>
                </tr>
              </thead>
              <tbody>
                {% for record in species.apply_records %}
                  <tr>
                    <td>{{ record.submission_time }}</td>
                    <td>{{ record.submission_comment }}</td>
                    <td>{{ record.status }}</td>
                    <td>{{ record.decision_comment }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    </div>
    {% endfor %}
{% endif %}
<hr>
</div>
<!------------------------------------------------------ other organisms ------------------------------------------------------>
<div id="other-organism">
<h2>More Organisms</h2>
{% if unauth_species_list %}
    {% for species in unauth_species_list%}
    <div>
    <table class="species-table">
    <tr>
        <td>{{ species.full_name }}</td>
        <td>
            {% if species.status == 'New' %}
            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{species.name}}" aria-expanded="false" aria-controls="collapse-{{species.name}}">Apply</button>
            {% endif %}
        </td>
    </tr>
    </table>
    <div class="collapse" id="collapse-{{species.name}}">
        <div class="well">
            {% if species.status == 'New' %}
                <div>
                    <p>Complete the comment to the community contact and click 'Submit'.</p>
                    <p><textarea class="form-control" rows="3" maxlength="200" id="comment_{{species.name}}"></textarea></p>
                    <p><input class="btn btn-primary btn-new" type="button" value="Submit" id="btn_{{species.name}}"></p>
                </div>
            {% endif %}
        </div>
    </div>
    </div>
    {% endfor %}
{% else %}
    <p>No organisms.</p>
{% endif %}
</div>

{% endblock%}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js"></script>
<script src="{% static 'webapollo/scripts/panel.js' %}"></script>
{% endblock %}
