{% extends "admin/base_site.html" %}
{% load admin_static %}{% load suit_tags %}{% load i18n %}


{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css">
{% endblock %}


{% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'admin:index' %}">Home</a><span class="divider">&raquo;</span></li>
    <li>Webapollo<span class="divider">&raquo;</span></li>
    <li><a href="{% url 'webapollo:manage' %}">Management</a><span class="divider">&raquo;</span></li>
    <li class="active">Species Users</li>

  </ul>
{% endblock %}


{% block content %}
{{ block.super }}
<div>
  <div class="alert alert-success" role="alert" id="alert-success" {%if not alert_success %}style="display:none;"{% endif %}>{{alert_text}}</div>
  <div class="alert alert-danger" role="alert" id="alert-danger" {%if not alert_fail %}style="display:none;"{% endif %}>{{alert_text}}</div>
  <h1>Users of {{species_name}}</h1>
  {% if users %}
  <form name="form-users" method="POST" action="" accept-charset="UTF-8">
  <p>
    <span id='users-count' style='font-size: large;'>0</span> users selected &nbsp;&nbsp;
    <button type="submit" class="btn btn-primary btn-users" id="btn-update" data-loading-text="Updating..." autocomplete="off">Update as coordinators</button>&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary btn-users" id="btn-remove" data-loading-text="Removing..." autocomplete="off">Remove users</button>&nbsp;&nbsp;
    <input type="hidden" name="usernames" id="input-users" value="123">
    <input type="hidden" name="operation" id="users-operation" value="abc">
  </p>
  </form>
  <table id="table-users" class="table display compact">
  <caption><h2>Annotators</h2></caption>  
  <thead>
    <tr>
      <th>Full name</th>
      <th>Username</th>
      <th>Institution</th>
      <th>coordinator</th>
    </tr>
  </thead>
  <tbody>
    {% for u in users %}
      <tr>
        <td>{{u.full_name}}</td>
        <td>{{u.username}}</td>
        <td>{{u.institution}}</td>
        <td>{% if u.is_owner %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  <hr>
  {% endif %}
  {% if candidates %}
  <form name="form-candidates" method="POST" action="" accept-charset="UTF-8">
  <p style="padding-top:1em;">
    <span id='candidates-count' style='font-size: large;'>0</span> users selected &nbsp;&nbsp;
    <button type="submit" class="btn btn-primary btn-candidates" id="btn-adduser" data-loading-text="Adding..." autocomplete="off">Add as annotators</button>&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary btn-candidates" id="btn-addowner" data-loading-text="Adding..." autocomplete="off">Add as coordinators</button>&nbsp;&nbsp;
    <input type="hidden" name="usernames" id="input-candidates" value="">
    <input type="hidden" name="operation" id="candidates-operation" value="">
  </p>
  </form>
  <table id="table-candidates" class="table display compact">
  <caption><h2>Candidates</h2></caption>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Username</th>
      <th>Institution</th>
    </tr>
  </thead>
  <tbody>
    {% for c in candidates %}
      <tr>
        <td>{{c.full_name}}</td>
        <td>{{c.username}}</td>
        <td>{{c.institution}}</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  
  {% endif %}
</div>
{% endblock %}


{% block extrajs %}
  {{ block.super }}
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js"></script>
  <script src="{% static 'webapollo/scripts/admin-species-user.js' %}"></script>
{% endblock %}
