{% extends "admin/base_site.html" %}
{% load admin_static %}{% load suit_tags %}{% load i18n %}


{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
  <style>
    tr td:first-child, tr th:first-child { text-align: center; }
    tr td:first-child:before, tr th:first-child:before { 
        content: "\f096"; /* fa-square-o */
        font-family: FontAwesome;
    }
    tr.selected td:first-child:before, tr.selected th:first-child:before {
        content: "\f046"; /* fa-check-square-o */
    }
  </style>
{% endblock %}


{% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'admin:index' %}">Home</a><span class="divider">&raquo;</span></li>
    <li>Webapollo<span class="divider">&raquo;</span></li>
    <li><a href="{% url 'webapollo:manage' %}">Management</a><span class="divider">&raquo;</span></li>
    <li class="active">User Permissions</li>

  </ul>
{% endblock %}


{% block content %}
{{ block.super }}
<div>
  <h1>Permissions of {{user.full_name}} ({{user.username}}), {{user.institution}}</h1>
  <p style="padding-bottom:1em;">
    <span id='count' style='font-size: large;'>0</span> species selected &nbsp;&nbsp;
    <button type="button" class="btn btn-primary" id="btn-update" data-loading-text="Updating..." autocomplete="off">Update permissions</button>&nbsp;&nbsp;
    <span id="alert" style="font-size: large; display:none;"></span>
  </p>
  <table id="table-user-permission" class="table display compact">
  <caption></caption>
  <thead>
    <tr>
      <th id="select-all"></th>
      <th>Species</th>
      <th>Read</th>
      <th>Write</th>
      <th>Publish</th>
      <th>Admin</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    {% for species in species_list %}
      <tr id="{{species.name}}">
        <td></td>
        <td>{{species.name}} ({{species.full_name}})</td>
        <td><input type="checkbox" name="read" value="1" {% if species.perm_values.read %} checked {% endif %} {% if species.perm_values.owner %} disabled {% endif %}></td>
        <td><input type="checkbox" name="write" value="2" {% if species.perm_values.write %} checked {% endif %} {% if species.perm_values.owner %} disabled {% endif %}></td>
        <td><input type="checkbox" name="publist" value="4" {% if species.perm_values.publish %} checked {% endif %} {% if species.perm_values.owner %} disabled {% endif %}></td>
        <td><input type="checkbox" name="admin" value="8" {% if species.perm_values.admin %} checked {% endif %} {% if species.perm_values.owner %} disabled {% endif %}></td>
        <td><input type="checkbox" name="owner" value="0" {% if species.perm_values.owner %} checked {% endif %}></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}


{% block extrajs %}
  {{ block.super }}
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/f2c75b7247b/sorting/datetime-moment.js"></script>
  <script src="{% static 'webapollo/scripts/admin-user-permission.js' %}"></script>
{% endblock %}
