{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block head-scripts %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css">
{% endblock %}

{% block dashboard-breadcrumb %}
<li>Dashboard</li>
{% endblock %}

{% block dashboard-content %}
<p style="text-align: center;">BLAST queries&nbsp;&nbsp;(<a href='{% url "blast:create" %}'>Go BLAST</a>)</p>
<table id="queries-{{user.id}}" class="display compact" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Submission time</th>
        <th>Status</th>
        <th>Link</th>
    </tr>
    </thead>
</table>
<hr>
<p style="text-align: center;">Web Apollo&nbsp;&nbsp;(<a href='{% url "webapollo:index" %}'>Management panel</a>)</p>

{% if pendings %}
    <input type="hidden" id="hidden-addUserModal" value="">
<p>
    <span id="pendings-action">
    <a href="#" id="link-approve">Approve</a>
    or
    <a href="#" id="link-reject">Reject</a>
    the <span id='pendings-count' style='font-size: large;'>0</span> selected pending requests.
    </span>
    <span id="pendings-msg"></span>
</p>
<table id="pendings" class="display compact" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Organism</th>
        <th>Full name</th>
        <th>Institution</th>
        <th>Submitted</th>
        <th>Comment</th>
        <th>Username</th>
        <th>SpeciesShort</th>
    </tr>
    </thead>
    <tbody>
    {% for pending in pendings %}
        <tr id="tr-{{pending.user.username}}-{{pending.species.name}}">
          <td>{{pending.species.full_name}}</td>
          <td>{{pending.user.first_name}} {{pending.user.last_name}}</td>
          <td>{{pending.user.profile.institution}}</td>
          <td>{{pending.submission_time|date:"d M Y"}}</td>
          <td>{{pending.submission_comment}}</td>
          <td>{{pending.user.username}}</td>
          <td>{{pending.species.name}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
{% endif %}

<p>Access organisms using Web Apollo</p>
{% if species_list%}
    <ul>
    {% for species in species_list%}
    <li><a href="{% url 'webapollo:species' species.name %}" target="_blank">{{ species.full_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <ul><li>None. <a href='{% url "webapollo:index" %}'>Apply for annotation.</a></li></ul>
{% endif %}

{% endblock%}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js"></script>
<script src="{% static 'dashboard/scripts/dashboard.js' %}"></script>
{% endblock %}
