{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block head-scripts %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css">
{% endblock %}

{% block dashboard-breadcrumb %}
<li>Dashboard</li>
{% endblock %}

{% block dashboard-content %}
<h4 style="text-align: center;">BLAST queries</h4>
    <table id="queries-{{user.id}}" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Submission time</th>
        <th>Status</th>
        <th>Link</th>
    </tr>
    </thead>
    </table>
<hr>
<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">Access organisms using Web Apollo </div>
    <!-- List group -->
    {% if not species_list%}
        <p class="list-group-item">No Organism</p>
    {% else%}
        {% for species in species_list%}
          <a href="{% url 'webapollo:species' species.name %}" class="list-group-item" target="_blank">{{ species.full_name }}</a>
        {% endfor %}
    {% endif%}
</div>
{% endblock%}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js"></script>
<script src="{% static 'dashboard/scripts/dashboard.js' %}"></script>
{% endblock %}
