{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<!--<h3>{{ message }}</h3>-->

The i5k - BLAST is part of the i5k Workspace@NAL which is still under active development. We would like to become the best home possible for i5k genome projects, so please tell us your comments, suggestions or concerns about this resource <a href="/contact-us" target="_blank">in the form here</a>. Your feedback is much appreciated!
<!--<address>
    10301 Baltimore Avenue<br />
    Beltsville, MD 20705<br />
    <abbr title="Phone">P:</abbr>
    301-504-5755
</address>-->

{% endblock %}
