{% load staticfiles %}
{% load compressed %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ title }} | i5k - App{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {% compressed_css 'app-layout' %}
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Inconsolata:400,700'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
    {% block head-scripts %}{% endblock %}
    {% if isAnalyticsEnabled %}
    <script type="text/javascript" src="{% static 'app/scripts/analytics.js' %}" async></script>
    <script type="text/javascript" id="_fed_an_ua_tag" src="//nal.usda.gov/sites/all/themes/Universal-Federated-Analytics.1.0.js?agency=USDA&subagency=ARS-NAL"></script>
    {% endif%}
</head>

<body class="padtop {% block bodyclass %}{% endblock %}">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
                <a href="http://i5k.nal.usda.gov/" class="navbar-brand"><img src="{% static 'blast/images/I5klogo-blast.png' %}"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Web Apps<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                                <li><a href="{% url 'blast:create' %}">BLAST</a></li>
                                <li><a href="{% url 'hmmer:create' %}">HMMER</a></li>
                                <li><a href="{% url 'clustal:create' %}">CLUSTAL</a></li>
                                <li><a href="{% url 'migrate_account:index' %}">MIGRATE_ACCT</a>
                        </ul>
                    </li>
                    <!-- <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li> -->
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="https://i5k.nal.usda.gov/about-us">About i5K Workspace Services</a></li>
                    <li><a href="http://i5k.nal.usda.gov/contact">Contact</a></li>
                    {% if request.user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
{% block navbar %}{% endblock %}
                </ul>
                {% if isLoginEnabled %}
                {% include 'app/loginpartial.html' %}
                {% endif %}
            </div>
        </div>
    </nav>
{% block content-body %}{% endblock %}
    <div class="container-fluid" style="height: 100%;">
{% block content-fluid %}
        <div class="container body-content">
{% block content %}{% endblock %}
            <hr/>
            <footer>
                <p>{{ year|default:"2015" }} - National Agricultural Library</p>
            </footer>
        </div>
{% endblock %}
    </div>
    
{% compressed_js 'app-layout' %}
{% block scripts %}{% endblock %}

</body>
</html>
