<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | i5k - BLAST</title>
    {% load staticfiles %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <script type="text/javascript" src="{% static 'blast/components/platform/platform.js' %}"></script>
    <link rel="import" href="{% static 'blast/components/paper-tabs/paper-tabs.html' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
{% block head-scripts %}{% endblock %}
</head>

<body unresolved fullbleed>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="./" class="navbar-brand">i5k</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li><a href="{% url 'home' %}">Home</a></li>-->
                    <li><a href="{% url 'blast:create' %}">BLAST</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <!--<li><a href="{% url 'blast:create' %}">BLAST</a></li>
                    <li><a href="{% url 'blast:retrieve' '5df09d8487174e1180e7bb169030aeb0' %}">BLAST RESULT</a></li>-->
                    {% if request.user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
{% block navbar %}{% endblock %}
                </ul>
                <!--{% include 'app/loginpartial.html' %}-->
            </div>
        </div>
    </nav>
    
    <div class="container-fluid">
{% block content-fluid %}
        <div class="container body-content">
{% block content %}{% endblock %}
            <hr/>
            <footer>
                <p>2014 - National Agricultural Library</p>
            </footer>
        </div>
{% endblock %}
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
