{% load staticfiles %}
{% load compressed %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ title }} | i5k - BLAST{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {% compressed_css 'app-layout' %}
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Inconsolata:400,700'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
{% block head-scripts %}{% endblock %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-49907870-1', 'auto');
    ga('send', 'pageview');
    ga('create', 'UA-28627214-1', 'auto', {'name': 'a', cookieDomain: 'nal.usda.gov', legacyCookieDomain: 'nal.usda.gov', 'allowLinker': true});
    ga('a.send', 'pageview');
    ga('create', 'UA-466807-3', 'auto', {'name': 'b', cookieDomain: 'usda.gov', legacyCookieDomain: 'usda.gov', 'allowLinker': true});
    ga('b.send', 'pageview');
    ga('create', 'UA-27627304-18', 'auto', {'name': 'c', cookieDomain: 'usda.gov', legacyCookieDomain: 'usda.gov', 'allowLinker': true});
    ga('c.send', 'pageview');
    ga('create', 'UA-27627304-1', 'auto', {'name': 'd', cookieDomain: 'usda.gov', legacyCookieDomain: 'usda.gov', 'allowLinker': true});
    ga('d.send', 'pageview');
</script>
<script type="text/javascript" src="http://www.nal.usda.gov/sites/default/files/federated-analytics/analytics.js"></script>
</head>

<body class="padtop {% block bodyclass %}{% endblock %}">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://i5k.nal.usda.gov/" class="navbar-brand"><img src="{% static 'blast/images/I5klogo-blast.png' %}"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li><a href="{% url 'home' %}">Home</a></li>-->
                    <!--<li><a href="{% url 'blast:create' %}">BLAST</a></li>-->
                    <li><a href="./">BLAST</a></li>
                    <li><a href="{% url 'about' %}">About i5K BLAST</a></li>
                    <li><a href="http://i5k.nal.usda.gov/contact-us">Contact</a></li>
                    <!--<li><a href="{% url 'blast:create' %}">BLAST</a></li>
                    <li><a href="{% url 'blast:retrieve' '5df09d8487174e1180e7bb169030aeb0' %}">BLAST RESULT</a></li>-->
                    {% if request.user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
{% block navbar %}{% endblock %}
                </ul>
                <!--{% include 'app/loginpartial.html' %}-->
            </div>
        </div>
    </nav>
{% block content-body %}{% endblock %}
    <div class="container-fluid" style="height: 100%;">
{% block content-fluid %}
        <div class="container body-content">
{% block content %}{% endblock %}
            <hr/>
            <footer>
                <p>2014 - National Agricultural Library</p>
            </footer>
        </div>
{% endblock %}
    </div>
    
{% compressed_js 'app-layout' %}
{% block scripts %}{% endblock %}

</body>
</html>
