{% extends "app/layout.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
{% if isLoginEnabled %}

<h2>{{ title }}</h2>
<hr />
<div> 
    <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
    <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
    <p><a class="btn btn-default" role="button" href="{% url 'login' %}">Return to log in</a></p>
</div>

{% endif %}
{% endblock %}

