{% extends "app/layout.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<h2>{{ title }}</h2>
<hr />
<div>
    {% if validlink %}
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_new_password1" class="col-md-2 control-label">{% trans 'New password' %}</label>
            <div class="col-md-10">{{ form.new_password1 }}{{ form.new_password1.errors }}</div>            
        </div>
        <div class="form-group">
            <label for="id_new_password2" class="col-md-2 control-label">{% trans 'Confirm password' %}</label>
            <div class="col-md-10">{{ form.new_password2 }}{{ form.new_password2.errors }}</div>            
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-default" value="{% trans 'Change my password' %}" />
            </div>
        </div>
    </form>
    {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
</div>

{% endblock %}


{% block scripts %}

<script>document.getElementById('id_new_password1').focus();</script>

{% endblock %}

