
.k-splitter .k-ghost-splitbar-horizontal, .k-splitter .k-splitbar-horizontal {
    top: 0;
    width: 12px;
    border-width: 0;
    background: #efefef url('images/handle.svg') no-repeat center;
}
.k-ghost-splitbar-vertical, .k-splitbar-vertical {
    left: 0;
    height: 12px;
    border-width: 0;
    background: #efefef url('images/handle-h.svg') no-repeat center;
}
.k-splitbar:hover {
    background-color: #ddd;
    border-color: transparent;
}
.k-splitbar {
    box-shadow: inset 0 0 2px 1px #ccc;
    text-align: center;
    vertical-align: middle;
}

.k-splitbar-horizontal .k-collapse-next, .k-splitbar-horizontal .k-expand-prev {
    margin-top: 12px;
    width: 12px;
    left: 0;
    background-position: -1px -142px;
}

.k-splitbar-horizontal-hover > .k-collapse-next, .k-splitbar-horizontal-hover > .k-expand-prev {
    margin-top: 12px;
    width: 12px;
    left: 0;
    background-position: -17px -142px;
}

.k-splitbar-horizontal .k-collapse-prev, .k-splitbar-horizontal .k-expand-next {
    margin-top: 12px;
    width: 12px;
    left: 0;
    background-position: -2px -174px;
}

.k-splitbar-horizontal-hover > .k-collapse-prev, .k-splitbar-horizontal-hover > .k-expand-next {
    margin-top: 12px;
    width: 12px;
    left: 0;
    background-position: -18px -174px;
}

.k-splitbar-vertical .k-collapse-prev, .k-splitbar-vertical .k-expand-next {
    margin-left: 12px;
    height: 12px;
    background-position: 2px -131px;
}

.k-splitbar-vertical-hover > .k-collapse-prev, .k-splitbar-vertical-hover > .k-expand-next {
    background-position: -14px -131px;
}

.k-splitbar-vertical .k-collapse-next, .k-splitbar-vertical .k-expand-prev {
    margin-left: 12px;
    height: 12px;
    background-position: 2px -162px;
}

.k-splitbar-vertical-hover > .k-collapse-next, .k-splitbar-vertical-hover > .k-expand-prev {
    margin-left: 12px;
    height: 12px;
    background-position: -14px -162px;
}

body {
    overflow: hidden;
}

.pane-content {
    padding: 0 10px;
}

/* Panel layout */
#result-container {
    height: 100%;
}

#top-side-by-side-container {
    height: 38%;
    overflow: hidden;
}

#bottom-side-by-side-container {
    /*height: 70%;*/
    /*height: 100%;
    width: 100%;*/
    overflow: hidden;
}

.graph-container {
    width: 50%; height: 100%; position: relative;
}

.graph-title-container {
    height: 38px; margin: 0;padding: 12px 24px; position: absolute; white-space: nowrap;
}

.graph-title {
    font-size: 18px;
    margin: 0;
}

.graph-canvas-container {
    width: 100%; position: absolute; top: 38px; bottom: 0;
}

#table-container {
    width: 50%; overflow: hidden;
}

/* Alignment graphs */
.graph-title {
    font-size: 18px;
    margin: 0;
}

/* CodeMirror */
.CodeMirror {
    /*position: absolute;
    top: 0;
    left: 0;
    width: 100%;*/
    height: 100%;
}

.tab-content {
    height: 100%;
}

#blast-report {
    height: 100%;
}

#fasta-viewer {
    height: 100%;
}

#text-container {
    padding-top: 47px;
    overflow: hidden;
}

#text-container .nav-tabs {
    position: absolute;
    top: 0;
    padding: 5px 5px 0px;
    width: 100%;
}

/* Datatables */
.tooltip-inner {
    white-space:pre;
    max-width:none;
}

/*hover row*/
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th,
.highlight,
.table-striped > tbody > tr.highlight:nth-child(odd) > td,
.table-striped > tbody > tr.highlight:nth-child(odd) > th,
.table-striped > tbody > tr.highlight > th,
.table-striped > tbody > tr.highlight > th,
div.DTS tbody tr.even.highlight {
    background-color: #f8f887;
}

/*selected row, odd*/
#results-table tr.active:nth-child(odd) td, #results-table tr.active:nth-child(odd) th {
    background-color: #f8bb5d;
}

/*selected row, even*/
#results-table tr.active td, #results-table tr.active th {
    background-color: #faca7c;
    color: black;
}

/*hover and selected row*/
#results-table tr.active:hover td, #results-table tr.active:hover th {
    background-color: #f8e27a !important;
}


.dataTables_scroll {
    font-family: 'Inconsolata', monospace;
}

.dataTables_wrapper .dataTables_info {
    padding: 6px;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0;
}

.dataTables_wrapper .dataTables_filter .input-group {
    position: absolute;
    top: 0;
    right: 0;
    width: 319px;
    margin: 7px;
}

.dataTables_wrapper .ui-toolbar {
    padding: 7px;
}

#results-table_filter label {
    margin: 0;
}

table.dataTable thead > tr > th {
    padding: 12px 14px 12px 8px; /*10px 18px*/
}

table.dataTable tbody td {
    padding: 3px 8px 0px; /*8px 10px*/
}

table.dataTable tfoot th {
    vertical-align: middle;
    padding: 8px;
}
.dataTables_scrollFootInner {
    background-color: white;
}

.nal-footer {
    position: absolute;
    bottom: 0;
    margin: 1px;
    right: 14px;
    font-family: 'Tangerine', serif;
    font-size: 28px;
    text-shadow: 3px 3px 7px #443A3A;
    color: black;
    line-height: 1.428571429;
}

.center-cell {
    text-align: center;
    vertical-align: middle;
}

table.dataTable tbody td.center-cell {
    padding: 1px 1px;
    text-align: center;
    vertical-align: middle;
}

.col-search-input {
    width: 100%;
}

.range-filter .popover-title {
    /*font-weight: bold;*/
}

.range-filter .input-group.label-row {
    margin: 10px 10px 0px;
}

.range-filter .input-group.label-row .input-group-addon {
    background-color: #fff;
    border: 1px solid #fff;
}

.range-filter .input-group {
    margin: 0px 10px 10px;
}

.range-filter .slider {
    margin: -11px 30px 13px;
}

.dropdown-menu.range-filter {
    width: 260px;
    left: -109px; /* 250/2-(1+10+20/2)=104 */
}

.dataTables_scrollFoot th:last-child .dropdown-menu.range-filter {
    width: 250px;
    left: auto;
    right: 0;
}

.dataTables_scrollFoot th:nth-last-child(2) .dropdown-menu.range-filter {
    width: 250px;
    left: auto;
    right: 0;
}

.dataTables_wrapper .ui-widget-header {
    font-weight: normal;
}