.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th,
.highlight,
.table-striped > tbody > tr.highlight:nth-child(odd) > td,
.table-striped > tbody > tr.highlight:nth-child(odd) > th,
.table-striped > tbody > tr.highlight > th,
.table-striped > tbody > tr.highlight > th,
div.DTS tbody tr.even.highlight {
    background-color: #f8f887;
}

.nal-footer {
    position: absolute;
    bottom: 0;
    margin: 1px;
    right: 14px;
    font-family: 'Tangerine', serif;
    font-size: 28px;
    text-shadow: 3px 3px 7px #443A3A;
    color: black;
}

.graph-title {
    font-size: 18px;
    margin: 0;
}

.center-cell {
    text-align: center;
    vertical-align: middle;
}

.dataTables_scroll {
    font-family: 'Inconsolata', monospace;
}

#results-table_filter label {
    margin: 0;
}

.dataTables_wrapper .dataTables_info {
    padding: 5px;
}

.col-search-input {
    width: 100%;
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0;
}

.dataTables_wrapper .dataTables_filter .input-group {
    position: absolute;
    top: 0;
    right: 0;
    width: 319px;
    margin: 7px;
}

table.dataTable tfoot th {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}