body {
	font-family: Arial,Helvetica,Verdana,"Bitstream Vera Sans",sans-serif;
}

.tripal-info-box {
   width: 100%;
   padding-bottom: 10px;
}

.tripal-info-box-nosidebar {
   width: 100%;
   padding-bottom: 10px;
}

.tripal-table {
   width: 100%; 
}
.tripal-table th, 
.tripal-table td {
   vertical-align:text-top;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
}
.tripal-table-horz {
   border-top: 1px solid #999999;
   border-bottom: 1px solid #999999; 
}

/* settings for vertical tables (headers across left-side) */
table.tripal-table-vert .tripal-table-even-row th {
   background-color: #EEEEEE;
   font-weight: none;
   text-align: right;
}
table.tripal-table-vert .tripal-table-odd-row th {
   background-color: #FFFFFF;
   text-align: right;
}
table.tripal-table-vert .tripal-table-even-row {
   background-color: #EEEEEE;
   border-top: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
}
table.tripal-table-vert .tripal-table-odd-row {
   background-color: #FFFFFF;
   border-top: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
}
/* settings for horizontal tables (headers across top) */
table.tripal-table-horz th {
   background-color: #EEEEFF;
   font-weight: none;
   text-align: left;
}
table.tripal-table-horz .tripal-table-even-row {
   background-color: #FFFFFF;
   font-weight: none;
   text-align: left;
   border-top: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
}
table.tripal-table-horz .tripal-table-odd-row {
   background-color: #EEEEEE;
   text-align: left;
   border-top: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
}

.tripal-info-box-title {
  font-size: 1.5em;
  padding-bottom: 15px;
}

.tripal-info-box-title-nosidebar {
  font-size: 1.5em;
  padding-bottom: 15px;
}

.tripal-info-box-desc {
  padding-bottom: 15px;
}
/* hide the title when inside of a block on a panel */
.pane-block .tripal-info-box-title {
   visibility: hidden;
   padding: 0;
   margin: 0;
   height: 0px;
}

/* Ajax loader */
#tripal_ajaxLoading {
   position: fixed;
   top: 40%;
   left: 40%;
   padding: 15px;
   border: 1px solid #000000;
   background-color: #EEEEEE;
   opacity: 0.75;
   -moz-opacity: 0.75;
   z-index: 10;
}

#tripal_ajaxLoading #loadingText {
   font-weight: bold;
   font-size: 1.5em;
   color: #000000;
}

/* Restrict the list of checkboxes in a 300px window */
.form-checkboxes {
   height: auto;
   max-height: 300px;
   overflow: auto;
}

/* no results message */
.tripal-no-results {
   font-style: italic;
   padding: 10px;
   background-color: #FFEEEE;
}

.tripal_toc {
  float: left;
  width: 18%;
  background-color: #EEEEEE;

  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;

  -moz-box-shadow: 3px 3px 4px #888888;
  -webkit-box-shadow: 3px 3px 4px #888888;
  box-shadow: 3px 3px 4px #888888;

  padding: 20px;
  min-height: 500px;
  border-style:solid;
  border-width:1px;
}
.tripal_toc ul {
 margin-left: 0px;
 margin-top: 5px;
 padding-left: 15px;
}
.tripal_toc_title {
  font-size: 1.5em;
  line-height: 110%;
  padding-bottom: 10px;
}
.tripal_toc_desc {
 /*font-style: italic; */
}
.tripal_details {
  width: 100%;
  background-color: #FFFFFF;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;

  -moz-box-shadow: 3px 3px 4px #888888;
  -webkit-box-shadow: 3px 3px 4px #888888;
  box-shadow: 3px 3px 4px #888888;
  padding: 20px;
  min-height: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style:solid;
  border-width:1px;
  
  overflow:auto;
}

.tripal_details_full {
  float: left;
  width: 95%;
  background-color: #FFFFFF;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;

  -moz-box-shadow: 3px 3px 4px #888888;
  -webkit-box-shadow: 3px 3px 4px #888888;
  box-shadow: 3px 3px 4px #888888;
  padding: 20px;
  min-height: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style:solid;
  border-width:1px;
  
  overflow:auto;
}

.tripal-subtable {
  border-collapse:collapse;
  border: 0px solid black;
}

.tripal-subtable td {
  padding: 0px 5px 5px 0px; 
  border: 0px solid black;
}

.tripal-notice {
  color: red;
}

#tripal_organism-image-box {
   float: left;
   margin-left: 10px;
   margin-bottom: 10px;
   margin-right: 10px;
   width: auto;
}
#tripal_organism-image-box img {
   max-height: 200px;
}

#tripal_organism-base-box {
   float: left;
}
#tripal_organism-description-box {
   clear: left;
   width: auto;
}

#tripal_organism-base-box img {
 float: left;
 margin-bottom: 10px;
 margin-right: 10px;

}
#tripal_organism-table-base {
 width: auto;
 margin-bottom: 10px;
 min-width: 300px;
}

#fieldset-organism {
	width: 240px;
	height: 344px;
	overflow: hidden;
	float: left;
	padding: 6px;
}

#box-organism {
	width: 240px;
	height: 310px;
	overflow-x: auto;
	overflow-y: auto;
	float: right;
	padding: 6px;
}

#box-datasets {
	overflow-x: auto;
	overflow-y: auto;
	padding-left: 11px;
	margin: 5px;
}

#fieldset-datasets {
	margin-bottom: 0px;
}

fieldset {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-color: rgb(200, 200, 200);
	border-width: 2;
	margin: 5px;
}

a {
    color: rgb(49, 76, 116); 
}

.organism-div {
    -webkit-transition:box-shadow 0.5s, -webkit-box-shadow 0.5s, background-color 0.5s;
    transition:box-shadow 0.5s, -webkit-box-shadow 0.5s, background-color 0.5s;
}

.organism-active-background {
    background-color: rgb(145, 166, 193);   
    -webkit-box-shadow:0 0 5px 1px rgb(145, 166, 193); 
    -moz-box-shadow: 0 0 5px 1px rgb(145, 166, 193); 
    box-shadow:0 0 5px 1px rgb(145, 166, 193);
}

.dataset-title {
	font-family: 'Droid Serif', serif;
	text-shadow: 2px 2px 4px #aaa;
	font-size: 1.3em;
	line-height: 110%;
	padding: 6px;
}

legend {
	font-family: 'Droid Serif', serif;
	text-shadow: 2px 2px 4px #aaa;
	font-size: 1.3em;
    margin-bottom: 3px;
}

.datasets-div legend {
	font-size: 1.1em;
}

.disabled-fieldset {
	color: lightgray;
	border-color: white;
}

.disabled-radio {
	color: lightgray;
}

.program {
	float: left;
    margin: 15px;
}

.italic {
	font-style: italic;
}

#blastProgramDescription {
	width: 100%;
	float: left;
	padding: 5px;
	font-size: 0.9em;
}

label {
	display: block;
}

label.error {
display: inline;
background: url('images/unchecked.gif') no-repeat;
padding-left: 16px;
margin-left: .3em;
color: red;
}

#max_target_seqs, #matrix, #strand, .input-fields {
  margin-bottom: 3px;
}

#buttons {
  margin-top: 12px;
}

.query-file {
  margin-top: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#box-organism label {
    margin-bottom: 0px;
}

#box-organism label div {
    padding: 2px 0px 2px;
}